<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  padding: 20px 100px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #36bc8b;
  border: none;
  border-radius: 20px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}
.example

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 7px #666;
  transform: translateY(4px);


}


</style>
</head>
<body>
 
    <h2>Press on doctor/patient to sign up</h2>

    <button class="button"; name = "doctor", onclick = "window.location = '/second' ;" >Doctor</button>


    <button class="button"; name = "patient", onclick = "window.location = '/second' ;" >Patient</button>
  

</body>
</html>
