<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "description" contents = "">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="">
    <title>Redister Doctor</title>
</head>
<body>
    <h3>Register account</h3>
    <form action = "/logindoc/" method ="post">
    {%csrf_token%} 
        <label for = ""> Username </label>
        <input type ="text" id ="username" name="username" placeholder="Create a username(only letters and numbers) "Required>
        <br>
        <label for = ""> Name </label>
        <input type ="text" id ="name" name="name" placeholder=" Enter your first name "Required>
        <br>

        <label for = ""> Surname </label>
        <input type ="text" id ="surname" name="surname" placeholder="Enter your last name "Required>
        <br>

        <label for = ""> Email </label>
        <input type ="email" id ="Email" name="Email" placeholder="Enter your email account id"Required>
        <br>

        <label for = ""> Address </label>
        <input type ="text" id ="address" name="address" placeholder="line1, City, State, pincode "Required>
        <br>

        <label for = ""> Password </label>
        <input type ="password" id ="Password" name="Password" placeholder=" Create a password"Required>
        <br>


        <label for = ""> Confirm password </label>
        <input type ="password" id ="confirm a password" name="confirm a password" placeholder="Confirm a password "Required>
        <br>

        <button type="register"  onclick = "window.location = '/logindoc' ;"> Register </button>
    </form>
</body>
</html>